.pageFooter {
  margin-top: auto;
  background-color: var(--color-tar);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 40px;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 32px;
  font-family: "Orbitron", sans-serif;
}

/* ----------------------------- */
/* DESKTOP (1024px+)             */
/* ----------------------------- */
@media (min-width: 1024px) {
  .pageFooter {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* ----------------------------- */
/* TABLETTE (700–1023px)         */
/* ----------------------------- */
@media (min-width: 700px) and (max-width: 1023px) {
  .pageFooter {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding: 24px 20px;
  }

  .pageFooter img {
    width: 40%;
  }
}

/* ----------------------------- */
/* MOBILE (0–699px)              */
/* ----------------------------- */
@media (max-width: 699px) {
  .pageFooter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 28px;
    padding: 32px 20px;
  }

  .pageFooter img {
    width: 60%;
  }
}