NODE_ENV=production
HTTPS=true

# Frontend

# DB and Backend
DB_NAME=unlockit_db
DB_USER=change_me
DB_PASS=change_me

JWT_ACCESS_TOKEN_EXPIRES_IN=900000 # 15 minutes in milliseconds
JWT_REFRESH_TOKEN_EXPIRES_IN=2592000000 # 30 days in milliseconds
JWT_SECRET=change_me