.content {
    color: var(--color-white);
    margin-bottom: 12px;
    line-height: 1.5;
}

.meta {
    margin-bottom: 12px;
    color: var(--color-mist);
    font-size: 0.9rem;
}

.rate {
    font-family: var(--font-title);
    color: var(--color-green);
}

.actions {
    display: flex;
    gap: 12px;
}

.actionButton {
    display: flex;
    align-items: center;
    gap: 6px;

    background: var(--color-carbon);
    border: 1px solid var(--color-tar);
    border-radius: 8px;

    padding: 6px 12px;
    cursor: var(--cursor-pointer);

    transition: background 0.2s ease, border 0.2s ease, transform 0.1s ease;
}

.actionButton:hover {
    background: var(--color-blue);
    border-color: var(--color-blue);
}

.actionButton:active {
    transform: scale(0.95);
}

.icon {
    width: 20px !important;
    height: 20px !important;
    fill: var(--color-white);
}

.active {
    background: var(--color-blue) !important;
    border-color: var(--color-blue) !important;
}

.icon {
    width: 20px !important;
    height: 20px !important;
    fill: var(--color-white);
}