.profileIcon {
  display: flex;
  align-items: center;  
  transition: transform 0.25s ease, filter 0.25s ease;
}

.profileIcon:hover {
  transform: scale(1.06);
  animation: var(--animation-pulse);
  cursor: var(--cursor-pointer);
}

.profileMenu {
  position: fixed;
  top: 58px;
  right: -1rem;

  width: 200px;

  background: var(--color-tar);
  border: 1px solid var(--color-smoke);
  border-radius: 14px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);

  overflow: hidden;
  z-index: 999;

  animation: fadeInUp 0.5s ease;
}

.avatarImg {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
}

.menuList {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.menuItem {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 14px 18px;

  background: transparent;
  border: none;

  color: var(--color-white);

  font-family: var(--font-text);
  font-size: var(--text-body);
  text-align: left;
  text-decoration: none;

  cursor: var(--cursor-pointer);

  transition:
    background 0.2s ease,
    color 0.2s ease;
}

.menuContent {
  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
  min-height: 24px;

  transition: transform 0.2s ease;
}

.defaultLabel,
.hoverLabel {
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.hoverLabel {
  position: absolute;
  left: 0;

  opacity: 0;
  transform: translateX(-4px);

  color: var(--color-mist);
}

.menuItem::after {
  display: none !important;
}

.menuItem:hover {
  background: var(--color-smoke);
  color: var(--color-green);
}

.menuItem:hover .menuContent {
  transform: translateX(4px);
}

.menuItem:focus-visible {
  outline: 2px solid var(--color-green);
  outline-offset: -2px;
}

.success {
  color: var(--color-success);
}

.danger {
  color: var(--color-error);
}

.danger:hover  {
  color: var(--color-error);
}

.comingSoon:hover .menuContent {
  transform: none;
}

.comingSoon:hover .defaultLabel {
  opacity: 0;
  transform: translateX(4px);
}

.comingSoon:hover .hoverLabel {
  opacity: 1;
  transform: translateX(0);
}

.badge {
  padding: 4px 8px;
  border-radius: 999px;
  background: var(--color-smoke);
  color: var(--color-mist);
  font-size: var(--text-tiny);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}