.legal {
  text-align: center;
  margin: 10px auto;
  opacity: 0.9;

  font-family: var(--font-text, "Orbitron"), sans-serif;
  font-size: var(--text-tiny);
  line-height: 1.6;
  color: var(--color-mist);

  flex: 1 1 auto; /* permet de s'étirer mais pas de casser */
}

/* DESKTOP */
@media (min-width: 1024px) {
  .legal {
    max-width: 500px;
    min-width: 260px;
  }
}

/* TABLETTE */
@media (min-width: 700px) and (max-width: 1023px) {
  .legal {
    max-width: 500px;
    min-width: 260px;
  }
}

/* MOBILE */
@media (max-width: 699px) {
  .legal {
    max-width: 90%;
    min-width: 200px;
  }
}
